.btn {
	background: #ff5441;
	color: #fff;
	display: inline-block;
	padding: 18px 20px;
	width: 240px;
	max-width: 100%;
	border-radius: 28px;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.01em;
	box-shadow: 0px 0px 38px 0px rgba(213, 66, 50, 0.8);
	transition-property: color 0.2s, background 0.2s, opacity 0.2s;
}
.btn:hover {
	background: #ec4b38;
}
.btn:active {
	opacity: 0.8;
	transform: scale(0.95);
}

@media (max-width: 586px) {
	.btn {
		padding: 16px 20px;
		width: 220px;
		font-size: 16px;
	}
}

.container {
	padding: 0 20px;
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.phone__item {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	padding: 8px 16px;
	border-radius: 21.5px;
	transition: color 0.2s, background 0.2s, opacity 0.2s;
}
.phone__item:hover {
	color: #1f1f1f;
	background: #fff;
}
.phone__item:active {
	opacity: 0.8;
}
.phone__item--accent {
	border-color: #ffa650;
	color: #ffa650;
}

.phone__item--accent:hover {
	background: #ffa650;
	color: #fff;
}

.btn-menu {
	background: none;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	border: 0;
}

.btn-menu__box {
	display: inline-block;
	width: 40px;
	height: 24px;
}

.btn-menu__inner::before,
.btn-menu__inner::after,
.btn-menu__inner {
	background: #fff;
	width: 100%;
	height: 4px;
}
.btn-menu__inner {
	display: block;
	top: 50%;
	position: relative;
}

.btn-menu__inner::before,
.btn-menu__inner::after {
	content: "";

	position: absolute;
	left: 0;
	border-radius: 5px;
}
.btn-menu__inner::before {
	top: -10px;
}
.btn-menu__inner::after {
	bottom: -10px;
}
.section {
	padding: 55px 0;
}
.section__title {
	font-size: 48px;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	text-align: center;
	margin: 0, auto, 40px;
}
.section__title--accent {
	color: #ffa650;
}

@media (max-width: 576px) {
	.section {
		padding: 50px 0;
	}
	.section__title {
		font-size: 36px;
	}
}

.section__header {
	margin-bottom: 90px;
}

.catalog__nav {
	display: flex;
	justify-content: center;
}
.catalog-nav__wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 23px;
	overflow: hidden;
}
.catalog-nav__btn {
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 14px;
	min-width: 150px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #e6e6e6;
	border-right: 1px solid #e5e5e5;
	transition: border 0.2s, background 0.2s, color 0.2s;
}
.catalog-nav__btn.is-active {
	background: #1f1f1f;
	color: #fff;
	background-color: #1f1f1f;
}

.catalog-nav__btn:not(.is-active):hover {
	background: #ffa650;
	color: #fff;
	border-right-color: #ffa650;
}

.catalog-nav__btn:last-of-type .catalog-nav__btn {
	border-right: 0;
}
@media (max-width: 767px) {
	.catalog__nav {
		width: 500px;
		max-width: 100%;
		margin: 0 auto;
	}
	.catalog-nav__wrapper {
		flex-wrap: wrap;
		width: 100%;
	}
	.catalog-nav-item {
		width: 50%;
		flex-grow: 1;
	}
	.catalog-nav__btn {
		min-width: 0;
		width: 100%;
		border-top: 1px solid #e5e5e5;
	}
	.catalog-nav__btn:nth-of-type(1) .catalog-nav__btn,
	.catalog-nav__btn:nth-of-type(2) .catalog-nav__btn {
		border-top: 0;
	}

	.catalog-nav__btn:nth-of-type(even) .catalog-nav__btn {
		border-right: 0;
	}
}
.catalog {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -35px;
}
.catalog__item {
	color: #1f1f1f;
	width: calc(100% / 3);
	margin-bottom: 90px;
	padding: 0 35px;
	position: relative;
}
.catalog__item::before {
	background: #f7f7f7;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 3px;
	transform: translateX(-50%);
}
.catalog__item:nth-of-type(3n + 1)::before {
	content: none;
}

@media (max-width: 1250px) {
	.catalog {
		margin: 0 -20px;
	}
	.catalog__item {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 992px) {
	.catalog__item {
		width: 50%;
	}
	.catalog__item:nth-of-type(even)::before {
		content: "";
	}
	.catalog__item:nth-of-type(odd)::before {
		content: none;
	}
}

@media (max-width: 767px) {
	.catalog__item {
		width: 100%;
		margin-bottom: 50px;
	}
	.catalog__item:nth-of-type(n)::before {
		content: none;
	}
	.catalog__product {
		width: 350px;
		max-width: 100%;
		margin: 0 auto;
		border-bottom: 2px solid #f7f7f7;
		padding-bottom: 50px;
	}
	.catalog__item:last-of-type {
		margin-bottom: 0;
	}
	.catalog__item:last-of-type .catalog__product {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.product {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.product__img {
	display: block;
	margin: 0 auto 15px;
}
.product__title {
	margin: 0 0 10px;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
}
.product__description {
	margin: 0;
	color: #9f9f9f;
}
.product__content {
	margin-bottom: 25px;
	flex-grow: 1;
}
.product__sizes {
	display: flex;
	margin-bottom: 30px;
	border-radius: 21px;
	overflow: hidden;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
	justify-content: space-between;
}

.product__size {
	color: #e6e6e6;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	padding: 13px 33px;
	border-radius: 21px;
}
.product__size.is-active {
	color: #a2a2a2;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
}
.product__price {
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-weight: 900;
}
.product__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product__btn {
	box-shadow: 0;
	background: #ffa650;
	width: 200px;
	padding: 14px 20px;
}
.product__btn:hover {
	background: #ff7c21;
}

@media (min-width: 993px) and (max-width: 1200px) {
	.product__size {
		padding: 13px 25px;
	}
}

@media (max-width: 370px) {
	.product__size {
		padding: 13px 25px;
	}
}
@media (max-width: 370px) {
	.product__price {
		font-size: 18px;
	}
}
.section-contacts__container {
	position: relative;
}
.section-contacts__container::before {
	content: "";
	position: absolute;
	background: url(../img/section-contacts/cat.png) no-repeat;
	background-size: cover;
	height: 472px;
	width: 297px;
	z-index: -3;
}

.contacts {
	display: flex;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
}
.contacts__start {
	width: 50%;
}
.contacts__end {
	width: 50%;
	padding-left: 30px;
}
.contacts__map {
	height: 450px;
	background: #fef0b4;
	border: 8px solid #fef0b4;
}
.contacts__item {
	margin-bottom: 35px;
}
.contacts__title {
	margin: 0 0 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 900;
}
.contacts__text {
	margin: 0;
	font-size: 18px;
}
.contacts__phone {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s;
}
.contacts__phone:hover {
	color: #ffa650;
}
.socials {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.socials__item {
	margin-right: 7px;
}
.socials__link {
	display: inline-block;
}
.socials__icon {
	fill: rgb(0, 0, 0);
	transition: fill 0.2s opacity 0.2s;
	width: 35px;
	height: 35px;
}
.socials__icon:active {
	opacity: 0.7;
}
.socials__logo {
	fill: rgb(252, 252, 252);
}
.socials__icon--vk:hover {
	fill: rgb(39, 70, 207);
}
@media (max-width: 992px) {
	.contacts__map {
		height: 350px;
	}
	.section-contacts__container::before {
		height: 350px;
	}
}

@media (max-width: 767px) {
	.section-contacts {
		padding-bottom: 0;
	}
	.contacts__start {
		width: 100%;
		order: 1;
	}
	.contacts__map {
		margin: 0 -20px;
	}
	.section-contacts__container::before {
		height: 350px;
		right: 1px;
		top: 290px;
	}
	.contacts__end {
		width: 100%;
		margin-bottom: 40px;
		padding-left: 0;
	}
	.socials__item {
		margin-right: 15px;
	}
	.socials__icon {
		height: 45px;
		width: 45px;
	}
}

@media (max-width: 767px) and (min-width: 577px) {
	.section-contacts__container::before {
		height: 350px;
		right: 1px;
		top: 334px;
	}
}
@media (max-width: 577px) {
	.section-contacts__container::before {
		top: 307px;
	}
}
@media (max-width: 767px) {
	.mobile-menu__link {
		font-size: 20px;
	}
}
